[submodule "Applications/lib/libo"]
	path = Applications/lib/libo
	url = https://github.com/CNMAT/libo.git
	ignore = dirty
[submodule "Applications/lib/libomax"]
	path = Applications/lib/libomax
	url = https://github.com/CNMAT/libomax.git
[submodule "Applications/lib/max-sdk"]
	path = Applications/lib/max-sdk
	url = https://github.com/cycling74/max-sdk.git
